
.bg-image{
    background: url("../../assets/images/869f1342f1d5d15337b2bbf470ad2382.jpg") no-repeat center center fixed; 

    background-size: cover;
}

.padding1{
    text-align: center;
    margin-bottom: 215px;
    margin-top: 65px;
}

.btn-100{
    width:100%;
}

.ml-40{
    margin-left: 40px;
}
.btn-login{
    color:orange;
border:1px solid  orange;
}
.btn-signup{
    color:white;
background-color:  orange;
}
.fc{
    color:moccasin;
}
